composer.json
wp-content/index.php
wp-content/plugins/hello.php
wp-content/plugins/index.php
wp-content/plugins/akismet/*
wp-content/themes/index.php
wp-content/themes/twentytwentyfour/*
db/*
wp-content/themes/twentytwentythree/readme.txt
wp-content/themes/twentytwentythree/screenshot.png
wp-content/themes/twentytwentythree/style.css
wp-content/themes/twentytwentythree/theme.json
wp-content/themes/twentytwentythree/assets/fonts/dm-sans/DMSans-Bold-Italic.woff2
wp-content/themes/twentytwentythree/assets/fonts/dm-sans/DMSans-Bold.woff2
wp-content/themes/twentytwentythree/assets/fonts/dm-sans/DMSans-Regular-Italic.woff2
wp-content/themes/twentytwentythree/assets/fonts/dm-sans/DMSans-Regular.woff2
wp-content/themes/twentytwentythree/assets/fonts/dm-sans/LICENSE.txt
wp-content/themes/twentytwentythree/assets/fonts/ibm-plex-mono/IBMPlexMono-Bold.woff2
wp-content/themes/twentytwentythree/assets/fonts/ibm-plex-mono/IBMPlexMono-Italic.woff2
wp-content/themes/twentytwentythree/assets/fonts/ibm-plex-mono/IBMPlexMono-Light.woff2
wp-content/themes/twentytwentythree/assets/fonts/ibm-plex-mono/IBMPlexMono-Regular.woff2
wp-content/themes/twentytwentythree/assets/fonts/ibm-plex-mono/OFL.txt
wp-content/themes/twentytwentythree/assets/fonts/inter/Inter-VariableFont_slnt,wght.ttf
wp-content/themes/twentytwentythree/assets/fonts/inter/LICENSE.txt
wp-content/themes/twentytwentythree/assets/fonts/source-serif-pro/LICENSE.md
wp-content/themes/twentytwentythree/assets/fonts/source-serif-pro/SourceSerif4Variable-Italic.otf.woff2
wp-content/themes/twentytwentythree/assets/fonts/source-serif-pro/SourceSerif4Variable-Italic.ttf.woff2
wp-content/themes/twentytwentythree/assets/fonts/source-serif-pro/SourceSerif4Variable-Roman.otf.woff2
wp-content/themes/twentytwentythree/assets/fonts/source-serif-pro/SourceSerif4Variable-Roman.ttf.woff2
wp-content/themes/twentytwentythree/parts/comments.html
wp-content/themes/twentytwentythree/parts/footer.html
wp-content/themes/twentytwentythree/parts/header.html
wp-content/themes/twentytwentythree/parts/post-meta.html
wp-content/themes/twentytwentythree/patterns/call-to-action.php
wp-content/themes/twentytwentythree/patterns/footer-default.php
wp-content/themes/twentytwentythree/patterns/hidden-404.php
wp-content/themes/twentytwentythree/patterns/hidden-comments.php
wp-content/themes/twentytwentythree/patterns/hidden-no-results.php
wp-content/themes/twentytwentythree/patterns/post-meta.php
wp-content/themes/twentytwentythree/styles/aubergine.json
wp-content/themes/twentytwentythree/styles/block-out.json
wp-content/themes/twentytwentythree/styles/canary.json
wp-content/themes/twentytwentythree/styles/electric.json
wp-content/themes/twentytwentythree/styles/grapes.json
wp-content/themes/twentytwentythree/styles/marigold.json
wp-content/themes/twentytwentythree/styles/pilgrimage.json
wp-content/themes/twentytwentythree/styles/pitch.json
wp-content/themes/twentytwentythree/styles/sherbet.json
wp-content/themes/twentytwentythree/styles/whisper.json
wp-content/themes/twentytwentythree/templates/404.html
wp-content/themes/twentytwentythree/templates/archive.html
wp-content/themes/twentytwentythree/templates/blank.html
wp-content/themes/twentytwentythree/templates/blog-alternative.html
wp-content/themes/twentytwentythree/templates/home.html
wp-content/themes/twentytwentythree/templates/index.html
wp-content/themes/twentytwentythree/templates/page.html
wp-content/themes/twentytwentythree/templates/search.html
wp-content/themes/twentytwentythree/templates/single.html
wp-content/themes/twentytwentytwo/functions.php
wp-content/themes/twentytwentytwo/index.php
wp-content/themes/twentytwentytwo/readme.txt
wp-content/themes/twentytwentytwo/screenshot.png
wp-content/themes/twentytwentytwo/style.css
wp-content/themes/twentytwentytwo/theme.json
wp-content/themes/twentytwentytwo/assets/fonts/SourceSerif4Variable-Italic.otf.woff2
wp-content/themes/twentytwentytwo/assets/fonts/SourceSerif4Variable-Italic.ttf.woff2
wp-content/themes/twentytwentytwo/assets/fonts/SourceSerif4Variable-Roman.otf.woff2
wp-content/themes/twentytwentytwo/assets/fonts/SourceSerif4Variable-Roman.ttf.woff2
wp-content/themes/twentytwentytwo/assets/fonts/dm-sans/DMSans-Bold.ttf
wp-content/themes/twentytwentytwo/assets/fonts/dm-sans/DMSans-BoldItalic.ttf
wp-content/themes/twentytwentytwo/assets/fonts/dm-sans/DMSans-Italic.ttf
wp-content/themes/twentytwentytwo/assets/fonts/dm-sans/DMSans-Regular.ttf
wp-content/themes/twentytwentytwo/assets/fonts/dm-sans/LICENSE.txt
wp-content/themes/twentytwentytwo/assets/fonts/ibm-plex/IBMPlexMono-Bold.woff2
wp-content/themes/twentytwentytwo/assets/fonts/ibm-plex/IBMPlexMono-BoldItalic.woff2
wp-content/themes/twentytwentytwo/assets/fonts/ibm-plex/IBMPlexMono-Text.woff2
wp-content/themes/twentytwentytwo/assets/fonts/ibm-plex/IBMPlexMono-TextItalic.woff2
wp-content/themes/twentytwentytwo/assets/fonts/ibm-plex/IBMPlexSans-ExtraLight.woff2
wp-content/themes/twentytwentytwo/assets/fonts/ibm-plex/IBMPlexSans-ExtraLightItalic.woff2
wp-content/themes/twentytwentytwo/assets/fonts/ibm-plex/IBMPlexSans-Light.woff2
wp-content/themes/twentytwentytwo/assets/fonts/ibm-plex/IBMPlexSans-LightItalic.woff2
wp-content/themes/twentytwentytwo/assets/fonts/ibm-plex/LICENSE.txt
wp-content/themes/twentytwentytwo/assets/fonts/inter/Inter.ttf
wp-content/themes/twentytwentytwo/assets/fonts/inter/LICENSE.txt
wp-content/themes/twentytwentytwo/assets/fonts/source-serif-pro/LICENSE.md
wp-content/themes/twentytwentytwo/assets/fonts/source-serif-pro/SourceSerif4Variable-Italic.otf.woff2
wp-content/themes/twentytwentytwo/assets/fonts/source-serif-pro/SourceSerif4Variable-Italic.ttf.woff2
wp-content/themes/twentytwentytwo/assets/fonts/source-serif-pro/SourceSerif4Variable-Roman.otf.woff2
wp-content/themes/twentytwentytwo/assets/fonts/source-serif-pro/SourceSerif4Variable-Roman.ttf.woff2
wp-content/themes/twentytwentytwo/assets/images/bird-on-black.jpg
wp-content/themes/twentytwentytwo/assets/images/bird-on-gray.jpg
wp-content/themes/twentytwentytwo/assets/images/bird-on-green.jpg
wp-content/themes/twentytwentytwo/assets/images/bird-on-salmon.jpg
wp-content/themes/twentytwentytwo/assets/images/divider-black.png
wp-content/themes/twentytwentytwo/assets/images/divider-white.png
wp-content/themes/twentytwentytwo/assets/images/ducks.jpg
wp-content/themes/twentytwentytwo/assets/images/flight-path-on-gray-a.jpg
wp-content/themes/twentytwentytwo/assets/images/flight-path-on-gray-b.jpg
wp-content/themes/twentytwentytwo/assets/images/flight-path-on-gray-c.jpg
wp-content/themes/twentytwentytwo/assets/images/flight-path-on-salmon.jpg
wp-content/themes/twentytwentytwo/assets/images/flight-path-on-transparent-a.png
wp-content/themes/twentytwentytwo/assets/images/flight-path-on-transparent-b.png
wp-content/themes/twentytwentytwo/assets/images/flight-path-on-transparent-c.png
wp-content/themes/twentytwentytwo/assets/images/flight-path-on-transparent-d.png
wp-content/themes/twentytwentytwo/assets/images/icon-binoculars.png
wp-content/themes/twentytwentytwo/assets/images/icon-bird.jpg
wp-content/themes/twentytwentytwo/assets/videos/birds.mp4
wp-content/themes/twentytwentytwo/inc/block-patterns.php
wp-content/themes/twentytwentytwo/inc/patterns/footer-about-title-logo.php
wp-content/themes/twentytwentytwo/inc/patterns/footer-blog.php
wp-content/themes/twentytwentytwo/inc/patterns/footer-dark.php
wp-content/themes/twentytwentytwo/inc/patterns/footer-default.php
wp-content/themes/twentytwentytwo/inc/patterns/footer-logo.php
wp-content/themes/twentytwentytwo/inc/patterns/footer-navigation-copyright.php
wp-content/themes/twentytwentytwo/inc/patterns/footer-navigation.php
wp-content/themes/twentytwentytwo/inc/patterns/footer-query-images-title-citation.php
wp-content/themes/twentytwentytwo/inc/patterns/footer-query-title-citation.php
wp-content/themes/twentytwentytwo/inc/patterns/footer-social-copyright.php
wp-content/themes/twentytwentytwo/inc/patterns/footer-title-tagline-social.php
wp-content/themes/twentytwentytwo/inc/patterns/general-divider-dark.php
wp-content/themes/twentytwentytwo/inc/patterns/general-divider-light.php
wp-content/themes/twentytwentytwo/inc/patterns/general-featured-posts.php
wp-content/themes/twentytwentytwo/inc/patterns/general-image-with-caption.php
wp-content/themes/twentytwentytwo/inc/patterns/general-large-list-names.php
wp-content/themes/twentytwentytwo/inc/patterns/general-layered-images-with-duotone.php
wp-content/themes/twentytwentytwo/inc/patterns/general-list-events.php
wp-content/themes/twentytwentytwo/inc/patterns/general-pricing-table.php
wp-content/themes/twentytwentytwo/inc/patterns/general-subscribe.php
wp-content/themes/twentytwentytwo/inc/patterns/general-two-images-text.php
wp-content/themes/twentytwentytwo/inc/patterns/general-video-header-details.php
wp-content/themes/twentytwentytwo/inc/patterns/general-video-trailer.php
wp-content/themes/twentytwentytwo/inc/patterns/general-wide-image-intro-buttons.php
wp-content/themes/twentytwentytwo/inc/patterns/header-centered-logo-black-background.php
wp-content/themes/twentytwentytwo/inc/patterns/header-centered-logo.php
wp-content/themes/twentytwentytwo/inc/patterns/header-centered-title-navigation-social.php
wp-content/themes/twentytwentytwo/inc/patterns/header-default.php
wp-content/themes/twentytwentytwo/inc/patterns/header-image-background-overlay.php
wp-content/themes/twentytwentytwo/inc/patterns/header-image-background.php
wp-content/themes/twentytwentytwo/inc/patterns/header-large-dark.php
wp-content/themes/twentytwentytwo/inc/patterns/header-logo-navigation-gray-background.php
wp-content/themes/twentytwentytwo/inc/patterns/header-logo-navigation-offset-tagline.php
wp-content/themes/twentytwentytwo/inc/patterns/header-logo-navigation-social-black-background.php
wp-content/themes/twentytwentytwo/inc/patterns/header-small-dark.php
wp-content/themes/twentytwentytwo/inc/patterns/header-stacked.php
wp-content/themes/twentytwentytwo/inc/patterns/header-text-only-green-background.php
wp-content/themes/twentytwentytwo/inc/patterns/header-text-only-salmon-background.php
wp-content/themes/twentytwentytwo/inc/patterns/header-text-only-with-tagline-black-background.php
wp-content/themes/twentytwentytwo/inc/patterns/header-title-and-button.php
wp-content/themes/twentytwentytwo/inc/patterns/header-title-navigation-social.php
wp-content/themes/twentytwentytwo/inc/patterns/header-with-tagline.php
wp-content/themes/twentytwentytwo/inc/patterns/hidden-404.php
wp-content/themes/twentytwentytwo/inc/patterns/hidden-bird.php
wp-content/themes/twentytwentytwo/inc/patterns/hidden-heading-and-bird.php
wp-content/themes/twentytwentytwo/inc/patterns/page-about-large-image-and-buttons.php
wp-content/themes/twentytwentytwo/inc/patterns/page-about-links-dark.php
wp-content/themes/twentytwentytwo/inc/patterns/page-about-links.php
wp-content/themes/twentytwentytwo/inc/patterns/page-about-media-left.php
wp-content/themes/twentytwentytwo/inc/patterns/page-about-media-right.php
wp-content/themes/twentytwentytwo/inc/patterns/page-about-simple-dark.php
wp-content/themes/twentytwentytwo/inc/patterns/page-about-solid-color.php
wp-content/themes/twentytwentytwo/inc/patterns/page-layout-image-and-text.php
wp-content/themes/twentytwentytwo/inc/patterns/page-layout-image-text-and-video.php
wp-content/themes/twentytwentytwo/inc/patterns/page-layout-two-columns.php
wp-content/themes/twentytwentytwo/inc/patterns/page-sidebar-blog-posts-right.php
wp-content/themes/twentytwentytwo/inc/patterns/page-sidebar-blog-posts.php
wp-content/themes/twentytwentytwo/inc/patterns/page-sidebar-grid-posts.php
wp-content/themes/twentytwentytwo/inc/patterns/page-sidebar-poster.php
wp-content/themes/twentytwentytwo/inc/patterns/query-default.php
wp-content/themes/twentytwentytwo/inc/patterns/query-grid.php
wp-content/themes/twentytwentytwo/inc/patterns/query-image-grid.php
wp-content/themes/twentytwentytwo/inc/patterns/query-irregular-grid.php
wp-content/themes/twentytwentytwo/inc/patterns/query-large-titles.php
wp-content/themes/twentytwentytwo/inc/patterns/query-simple-blog.php
wp-content/themes/twentytwentytwo/inc/patterns/query-text-grid.php
wp-content/themes/twentytwentytwo/parts/footer.html
wp-content/themes/twentytwentytwo/parts/header-large-dark.html
wp-content/themes/twentytwentytwo/parts/header-small-dark.html
wp-content/themes/twentytwentytwo/parts/header.html
wp-content/themes/twentytwentytwo/styles/blue.json
wp-content/themes/twentytwentytwo/styles/pink.json
wp-content/themes/twentytwentytwo/styles/swiss.json
wp-content/themes/twentytwentytwo/templates/404.html
wp-content/themes/twentytwentytwo/templates/archive.html
wp-content/themes/twentytwentytwo/templates/blank.html
wp-content/themes/twentytwentytwo/templates/home.html
wp-content/themes/twentytwentytwo/templates/index.html
wp-content/themes/twentytwentytwo/templates/page-large-header.html
wp-content/themes/twentytwentytwo/templates/page-no-separators.html
wp-content/themes/twentytwentytwo/templates/page.html
wp-content/themes/twentytwentytwo/templates/search.html
wp-content/themes/twentytwentytwo/templates/single-no-separators.html
wp-content/themes/twentytwentytwo/templates/single.html
